{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Meu nome é {{ user.first_name }} {{ user.last_name}}! <br>
  {% if user.is_staff %}
  	Eu sou usuário administrador do sistema.
  {% else %}
  	Eu sou usuário comum do sistema.
  {% endif %}
  <p><a href="{% url 'logout' %}">Sair</a></p>
{% else %}
  <p>Você não está autenticado</p>
  <a href="{% url 'login' %}">Entrar</a> |
  <a href="{% url 'signup' %}">Registrar</a>
{% endif %}
{% endblock %}