{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}
<h2>Registrar</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Registrar</button>
</form>
{% endblock %}